.composition{
    position: relative;
    &__photo{
        width: 55%;
        height: 20rem;
        box-shadow: 0 1.5rem 4rem rgba(0,0,0,.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        &--photo1{
            top: -2rem;
            left: 0;
        }
        &--photo2{
            top: 2rem;
            right: 0;
        }
        &--photo3{
            top: 10rem;
            left: 20%;
        }

        &:hover{
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05);
            z-index: 20;
            box-shadow: 0 2.5rem 4rem rgba(0,0,0,.5);
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }

}